@{
    ViewData["Title"] = "Home Page";
}
@model List<Quiz_App.Models.Entities.Exam>


<div class="text-center">
    <h1 class="display-4">Welcome to Quiz App</h1>
</div>


<div class="mt-5 mb-2 row justify-content-end">
    <a href="@Url.Action("AddExam","Exam")" class="btn btn-success" style="width:8rem;">Add new quiz</a>
</div>

<section class="row gap-5 align-items-center justify-content-center justify-content-md-start">


    <table class="table table-striped table-primary w-50 mx-auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Action</th>
                </tr>
            </thead>


            <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <th scope="row">1</th>
                    <td>@item.Title</td>
                    <td>Duration: @item.Duration minutes</td>
                    <td>Total score: 30/30</td>
                    <td>
                    <a asp-controller="Exam" asp-action="ExamDetails" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                    </td>

                </tr>

        }
            </tbody>
        </table>
@*      <div class="card" style="width: 18rem;">
         <img src="https://scontent.fcgy1-2.fna.fbcdn.net/v/t39.30808-6/270516813_127149413121408_7993175803829396048_n.png?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeF3_Jo04YGNO4MSVgoVX9JBaR-FEKEmjehpH4UQoSaN6MjqJcSX5drZLh-u3XL2uXqReB6nRegxsZqZtY1C3gn4&_nc_ohc=lxjMcj6_0hsQ7kNvgF4SnJ5&_nc_oc=AdgdW0qCGFsX_4Ox4rL-M_KZzcGlB6YtPbGKcr-bU11IozJA97kA6jd_2bpjZNuTCho&_nc_zt=23&_nc_ht=scontent.fcgy1-2.fna&_nc_gid=AA1oXX8vzlsNGBUSkOux1OV&oh=00_AYD3YjZlKN58tie0Zgo-hStfrvwUj_SLxDSRkjUOHCaSYQ&oe=67B4C303"
              class="card-img-top card-image mx-auto object-fit-fill pt-3" alt="..." style="width:75%">
         <div class="card-body">
             <h5 class="card-title">@item.Title</h5>
                 <p class="card-text">Duration: @item.Duration minutes</p>
                 <p class="card-text">Total score: 30/30</p>
             <a asp-controller="Exam" asp-action="ExamDetails" asp-route-id="@item.Id" class="btn btn-primary">View</a>
         </div>
     </div> *@

</section>



<style>

</style>